<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="20px">Id</th>
                    <th width="250px">Name</th>
                    <th width="220px">Brand</th>
                    <th width="100px">Category</th>
                    <th width="300px">Rating</th>
                    <th width="300px">price</th>
                    <th width="300px">OrderDate</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                
            </table>
          
  </body>
</html>

